Repository odpf/guardian, pull requests merged in 2022-08, with the labels that each got.

#220 fix: keep permissions state in appeal
  Makefile
  api/handler/v1beta1/adapter.go
  api/handler/v1beta1/appeal_test.go
  api/proto/odpf/guardian/v1beta1/guardian.pb.go
  core/appeal/mocks/providerService.go
  core/appeal/service.go
  core/appeal/service_test.go
  core/provider/common.go
  core/provider/common_test.go
  core/provider/mocks/client.go
  core/provider/service.go
  domain/appeal.go
  go.mod
  go.sum
  internal/store/postgres/appeal_repository_test.go
  internal/store/postgres/approval_repository_test.go
  internal/store/postgres/migrations/000001_create_providers_table.down.sql
  internal/store/postgres/migrations/000001_create_providers_table.up.sql
  internal/store/postgres/migrations/000002_create_policies_table.down.sql
  internal/store/postgres/migrations/000002_create_policies_table.up.sql
  internal/store/postgres/migrations/000003_create_resources_table.down.sql
  internal/store/postgres/migrations/000003_create_resources_table.up.sql
  internal/store/postgres/migrations/000004_create_appeals_approvals_approvers_table.down.sql
  internal/store/postgres/migrations/000004_create_appeals_approvals_approvers_table.up.sql
  internal/store/postgres/migrations/000005_add_permissions_to_appeal.down.sql
  internal/store/postgres/migrations/000005_add_permissions_to_appeal.up.sql
  internal/store/postgres/model/appeal.go
  internal/store/postgres/store.go
  plugins/providers/bigquery/provider.go
  plugins/providers/bigquery/provider_test.go
  plugins/providers/client.go
  plugins/providers/gcloudiam/provider.go
  plugins/providers/grafana/provider.go
  plugins/providers/grafana/provider_test.go
  plugins/providers/metabase/provider.go
  plugins/providers/metabase/provider_test.go
  plugins/providers/noop/provider.go
  plugins/providers/tableau/config.go
  plugins/providers/tableau/provider.go
  plugins/providers/tableau/provider_test.go
Labels: bug, appeal

#209 fix: update resource metadata on refresh (#208)
  core/provider/service.go
  internal/store/postgres/resource_repository.go
  internal/store/postgres/resource_repository_test.go
Labels: resource

#239 docs(configuration): update cron jobs in server config
  docs/docs/guides/configuration.md
Labels: documentation

#238 feat(provider)!: update provider with the latest value
  core/provider/service.go
  core/provider/service_test.go
Labels: provider

#230 feat(appeal): add APIs to add and remove approvers
  Makefile
  api/handler/v1beta1/approval.go
  api/handler/v1beta1/approval_test.go
  api/handler/v1beta1/grpc.go
  api/handler/v1beta1/mocks/appealService.go
  api/proto/odpf/guardian/v1beta1/guardian.pb.go
  api/proto/odpf/guardian/v1beta1/guardian.pb.gw.go
  api/proto/odpf/guardian/v1beta1/guardian_grpc.pb.go
  cli/appeal.go
  core/appeal/errors.go
  core/appeal/mocks/approvalService.go
  core/appeal/mocks/auditLogger.go
  core/appeal/mocks/notifier.go
  core/appeal/mocks/repository.go
  core/appeal/service.go
  core/appeal/service_test.go
  core/approval/mocks/repository.go
  core/approval/service.go
  core/approval/service_test.go
  docs/docs/reference/api.md
  docs/docs/reference/cli.md
  domain/appeal.go
  internal/store/postgres/approval_repository.go
  internal/store/postgres/approval_repository_test.go
  internal/store/postgres/model/approval.go
  internal/store/postgres/model/approver.go
Labels: appeal

#224 feat: add bulk appeal access revocation
  api/handler/v1beta1/appeal.go
  api/handler/v1beta1/grpc.go
  api/handler/v1beta1/mocks/appealService.go
  cli/appeal.go
  core/appeal/service.go
  docs/docs/reference/api.md
  domain/appeal.go
  internal/store/postgres/appeal_repository.go
  internal/store/postgres/appeal_repository_test.go
Labels: appeal

#251 fix(policy): add nil checking for appeal config field
  internal/store/postgres/model/policy.go
Labels: bug, policy

#223 feat: register Gcloud Iam roles as resources of guardian
  docs/docs/providers/gcloud_iam.md
  plugins/providers/gcloudiam/client.go
  plugins/providers/gcloudiam/config.go
  plugins/providers/gcloudiam/errors.go
  plugins/providers/gcloudiam/provider.go
  plugins/providers/gcloudiam/provider_test.go
Labels: provider, gcloud_iam

#256 fix(jobs): run all enabled jobs
  internal/server/server.go
  jobs/fetch_resources.go
Labels: bug
